.idea
Dockerfile
tests/

venv
.venv
__pycache__
.git
.mypy_cache
.pytest_cache

.dockerignore
.gitignore
.env
.env.example
env
*.pyc
*.pyo
*.pyd
.Python
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.hypothesis
