# Framework
fastapi==0.92.0
uvicorn==0.20.0


# Database
aiopg==1.4.0
SQLAlchemy==2.0.4
alembic==1.9.4
SQLAlchemy-Utils==0.40.0


# Tools
passlib==1.7.4
arrow==1.2.3
httpx==0.23.3
click==8.1.3
python-jose==3.3.0
python-multipart==0.0.6
